/* Definir variables para css*/
:root{
    --blanco:#FFFFFF;
    --oscuro:#212121;
    --primario:#ff5722; 
    --secundario:#FC9905;
    --gridClaro: #DFE9F3;
}
/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* Define un esandar para cada caja*/
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;/* 1rem = 10px*/
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(to top, var(--gridClaro) 0%, var(--blanco) 100%);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}
.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.45);
    padding: 2rem;
    border-radius: 2rem;
 }
/* Tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
/* Titulos */
.titulo{
    text-align: center;
}
.titulo span{
    font-size: 2rem;
}
/* Navegacion Principal */
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row; 
        justify-content: space-between;
    }
}
.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
/* Hero */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    background-color: rgb( 0 0 0 /50%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}
/** Servicios **/
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio{}
